.text-align-center{
	tex-align: center;
}


.element{
	background-color: black;
}

.navbar-default{
	background-color:#1fa67a !important;
	border-color: #1fa67a

}

.jumbotron{
      background-color: #1fa67a!important;
      color: white;
}

.navbar-default .navbar-brand{
	color: white;
	transition: all 400ms ease;
}

.navbar-default .navbar-brand:hover{
	color: #ff8c52;

	
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;

	font-weight: bold;
	font-size:15px;

	
}

.navbar-default .navbar-nav >li >a:hover{
	color:#ff8c52;
	transition: all 300ms ease;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(1px); 
	
}

.btn-primary{
	background-color: #ff8c52 !important;
}

.col-sm-3:hover{
	color: #838282 !important;
	font-family:open sans-serif;
	font-size: 17px;
	-webkit-transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -o-transition: all 0.6s ease-in-out;
   -ms-transition: all 0.6s ease-in-out;
   transition: all 0.6s ease-in-out;
   box-shadow:
	1px 1px #53a7ea,
	2px 2px #53a7ea,
	3px 3px #53a7ea;
	-webkit-transform: translateX(-3px);
	transform: translateX(-3px);
	
}

/*.container-fluid .jumbotron{
	background-color:  #464646 !important;
	padding: 5px;
	min-width: 1200px !important;
}
.container-fluid {
	background-color:#1fa67a !important;
	min-width: 1200px !important;
	font-family:open sans-serif;
}
.imagen{
	margin-top: 2%;
	width: 20%;
	height: 20px;
}*/

/*
este es el css  para la nueva modicicacion del container-fluid
*/

/*
#44B78B  color verde mas claro ideal
*/

.container-fluid{
	background-color: #44B78B;
	height:80px;
	font-family:open sans-serif;
}
.img{
	height:1000px; 
}


#letras{
	font-family:open sans-serif;
	color: white;
	background-color: #44B78B;
	padding: 55px;

	font-size: 17px;




}