<div class="container">
  <div class="row">
    <!-- Estas son las columnas que agregue para decorar el sitio -->
    <div class="col-sm-3  ">
      <p class="lead text-align-center"><strong><p>Nombre de la red del conocimiento<br/><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></p></strong>
      <p>Las redes de conocimiento sectorial SENA:Red Tecnológica, tecnologías de la información, diseño y desarrollo de software.Red de electrónica y automatización.Las redes de conocimiento institucional SENA:Red de integralidad de la formación.Red de articulación con el sistema educativo y empresas formadoras.Red de fortalecimiento y actualización del sistema general de información</p>


    </div>
     <div class="col-sm-3  ">
      <p class="lead text-align-center"><strong><p>Tematica de Estudio</p><i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i>
</strong>
      <p>Difundir y promover la apropiación de conocimiento en las nuevas tendencias tecnológicas en áreas como gestión de redes de datos, seguridad informática, cableado estructurado, cloud computing, redes inalámbricas, VozIP y Robótica</p>
    </div>
     <div class="col-sm-3  ">
      <p class="lead text-align-center"><strong><p>Justificacion</p><i class="fa fa-android fa-3x" aria-hidden="true"></i></strong>
      <p>El Centro de Servicios y Gestión empresarial - SENA, decide crear la línea tecnologías y seguridad en redes telemáticas como un área de investigación dentro del grupo SENNOVA, dando respuesta a las necesidades del sector productivo en la región; los programas ofertados en el centro necesitan de un apoyo de carácter investigativo para que contribuya con el enriquecimiento y actualización tecnológica, permitiendo que los aprendices se apropien de las nuevas tendencias del mercado y promuevan el desarrollo del país en los campos de redes datos, y desarrollo de software</p>
    </div>
     <div class="col-sm-3  ">
      <p class="lead text-align-center"><strong><p>Programa de Formacion Registrado<br/>
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></strong>
      <p>Tecnólogo en gestión de redes de datos.Tecnólogo en Mantenimiento.Especialización Tecnológica en Seguridad Informática.Especialización Tecnológica en Implementación de soluciones de telefonía IP</p>
    </div>
    <!--     Fin  del agregado       -->
  </div>
  <p></p>
</div>








