   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Semillero Redtis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Inicio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lineas Tecnologicas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Robotica</a></li>
                <li><a href="#">Cloud Computing</a></li>
                <li><a href="#">Seguridad informatica</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">Iot</a></li>
                <li><a href="#">VoIp</a></li>
              </ul>
            </li>
            <li><a href="#about">Proyectos</a></li>
            <li><a href="#contact">Equipo de Trabajo</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Galeria</a></li>
            <li><a href="../navbar-static-top/">Contacto</a></li>
            <li class=""><a href="./">Ingreso <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>